#content {
    display: flex;
}

#settings {
    padding: 7px;
    flex-grow: 0;
    flex-shrink: 0;
    border: 1px solid #999;
    background-color: #EEE;
    display: flex;
    flex-direction: column;
}

#settings .examples {
    margin-bottom: 1em;
}

#settings .blocks {display: flex;flex-direction: column;}

#settings .blocks .example {
    color: #999;
    font-style: italic;
    float: right;
    margin-right: 1em;
}

#settings .size {
    margin-top: 1em;
    display: flex;
    justify-content: flex-end;
}

#settings .sort {
    display: flex;
    justify-content: flex-end;
}

#settings .color {
    margin-bottom: 1em;
    display: flex;
    justify-content: flex-end;
}

#settings .ratio {
    clear: both;
    border: 1px solid #999;
    padding: 1em;
}

#settings .nofit {
    display: none;
    border: 1px solid red;
    margin-top: 1em;
    padding: 1em;
}

#packing {
    margin-left: 1em;
}

#canvas {
    background-color: #FBFBFB;
}

#unsupported {
    border: 1px solid red;
    background-color: #FFFFAD;
    padding: 1em;
    margin: 1em;
}

textarea {
    resize: none;
}

select {
    width: 10em;
}
